/* styles.css */

/* Main Section */
.main {
  background-color: #ff7f7f; /* Light red */
  height: auto; /* Allow the main section to adjust its height based on content */
  display: flex;
  flex-direction: column; /* Stack child elements vertically */
  justify-content: flex-start; /* Align items at the start of the main axis */
  align-items: center; /* Center items along the cross axis */
  position: relative;
  overflow: hidden; /* Hide overflow content */
}

.container {
  width: 80%;
  max-width: 600px; /* Adjust maximum width as needed */
  height: auto; /* Adjust height to fit content */
  margin-top: 10px; /* Add margin at the top */
  margin-bottom: 10px; /* Add margin at the bottom */
}

/* Footer Section */
.footer {
  background-color: #ffc0cb; /* Light pink */
  color: white;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin-top: 10px; /* Add margin at the top */
}

