/* styles.css */

/* Body styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Header Section */
.header {
  background-color: #8b0000; /* Dark red */
  color: white;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure header is above other elements */
}

.left-textbox {
  float: left;
}

.right-textbox {
  float: right;
}

/* Main Section */
.main {
  background-color: #ff7f7f; /* Light red */
  height: calc(100vh - 200px); /* Adjust height according to header and footer */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.container {
  width: 80%;
  max-width: 600px; /* Adjust maximum width as needed */
}

.logo {
  transition: transform 5s linear;
}

.color-change {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  background-color: #ff0000; /* Red */
}

/* Footer Section */
.footer {
  background-color: #ffc0cb; /* Light pink */
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.date-time-box {
  font-size: 18px;
}

.ticket-expiration {
  font-size: 14px;
}

