body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0c2340;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
  background-color: white; /* Add white background color */
}

/* Header styles */
header {
  background-color: #ae9142;
  color: #f8f4ec;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 5px 0;
}

/* Resume section styles */
.resume-section {
  margin-top: 40px;
}

.resume-section h2 {
  color: #f8f4ec;
  border-bottom: 2px solid #f8f4ec;
  padding-bottom: 10px;
}

.resume-section #resume-content {
  margin-top: 20px;
}

/* Add style for PDF border */
#resume-content embed {
  border: 1px solid white; /* Add white border around the embedded PDF */
}

